<div id="page-content-wrapper">
    <div class="container-fluid" style="padding: 20px;">
        <h3>Corona Tracker Map</h3>
        <br>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.2985546678838!2d-3.1660012844804597!3d55.92686208060028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887b8982fabc377%3A0x5d5710918b595caa!2sCameron%20Toll%20Shopping%20Centre!5e0!3m2!1sen!2suk!4v1587419888295!5m2!1sen!2suk"
            width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        <br>
        <br>
        <p>It shows you the nearby reported corona patient as per your
            Geo location. This can keep you informed if your neigbhourhood has any corona cases.
        </p>
        <p>
            The locations to show the patient nearby is based on the postal code of the
            patient provided as the information to this application. In a broader way it
            helps us in categorizing a particular area in different zones based on the number of cases there.
        </p>
    </div>
</div>