<div id="page-content-wrapper">
    <div class="container-fluid" style="min-height: 700px;">
        <h3 class="mt-4">Consult with Doctor</h3>
        <p>You can communicate your concerns to intiate a quick
            video call and consult your issues with the doctor</p>

        <p>When yu raise the request, a ticket will be raised and a doctor from respective
            department will be assigned for consultation over the video call.
        </p>
        <img src="assets/Call_Doctor.png" style="width: 200px;margin-left: 50px;">
        <br> <br>
        <div class="form-group text-right">
            <input type="submit" name="submit" class="btn btn-info btn-md" 
            style="margin-right: 250px;" value="Raise a request">
        </div>
    </div>
</div>