<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 border-box">
                    <form id="login-form" class="form">
                        <h3 class="text-center text-info">Covid-19 Questionnaire </h3>
                        <br>
                        <div class="form-group">
                            <label for="username" class="text-info">{{questions[questionIndex]?.question}}
                            </label><br>
                            <br>
                            <ng-container *ngIf="questions[questionIndex]?.answerType==='text'; else booleanAnswer">
                                <input type="text" name="username" id="username" [(ngModel)]="textAnswer" [ngModelOptions]="{standalone: true}"
                                    class="form-control">
                            </ng-container>
                            <ng-template #booleanAnswer>
                                <ng-container
                                    *ngIf="questions[questionIndex]?.answerType==='textArea'; else radioButtonControls">
                                    <textarea id="textArea" class="form-control" rows="4" cols="50"
                                        [(ngModel)]="textAreaAnswer" [ngModelOptions]="{standalone: true}">
                                    </textarea>
                                </ng-container>
                                <ng-template #radioButtonControls>
                                    <div class="form-check-inline">
                                        <label class="customradio"><span class="radiotextsty">Yes</span>
                                            <input type="radio" (click)="checkedOption='yes'"
                                                [checked]="checkedOption=='yes'" name="radio">
                                            <span class="checkmark"></span>
                                        </label>        
                                        <br><br>
                                        <label class="customradio"><span class="radiotextsty">No</span>
                                            <input type="radio" (click)="checkedOption='no'"
                                                [checked]="checkedOption=='no'" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </div>
                        <br><br>
                        <ng-container *ngIf="questionIndex<questions.length-1 ; else submitQuestions">
                            <div class="form-group">
                                <input type="button" (click)="nextQuestion()" name="next" class="btn btn-info btn-md"
                                    value="Next">
                            </div>
                        </ng-container>
                        <ng-template #submitQuestions>
                            <div class="form-group text-right">
                                <input type="button" (click)="submitAnswers()" name="submit" class="btn btn-info btn-md"
                                    value="Submit">
                            </div>
                        </ng-template>
                        <br><br>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>