<div id="page-content-wrapper">
    <div class="container-fluid" style="padding: 20px;">
        <h3>Your progress</h3>
        <br>
        <p>Your throughout progress can be displayed as below. You are advised to follow the
            instruction and keep the medical staff updated about your progress.</p>
        <p>The progress bar has the color scheme indicating the nature of progress. In case
            there is any alerts to be raised the progress bar will be turned into yello and
            in case of critical situation into red. The medical staff will be prompty
            connecting with you to ensure you make good progress while you can report us
            directly through this app in case of any concerns</p>

        <ul class="stepper">
            <li class="step active">
                <span class="upper-text">0 days</span>
                <span class="dot"></span>
                <span class="lower-text">
                    Day of<br>contracting disease
                </span>
            </li>

            <li class="step active">
                <span class="upper-text">05 days</span>
                <span class="dot"></span>
                <span class="lower-text">
                    Develops symptoms,
                    <br>Quarantined
                </span>
            </li>
            <li class="step active">
                <span class="upper-text">14 days</span>
                <span class="dot"></span>
                <span class="lower-text">
                    On medication
                </span>
            </li>
            <li class="step active">
                <span class="upper-text">20 days</span>
                <span class="dot"></span>
                <span class="lower-text">
                    Fully recovered
                </span>
            </li>
            <li class="step">
                <span class="upper-text">25 days</span>
                <span class="dot"></span>
                <span class="lower-text">
                    Under observation
                </span>
            </li>
            <li class="step">
                <span class="upper-text">35 days</span>
                <span class="dot"></span>
                <span class="lower-text">
                    Discharged
                </span>
            </li>
        </ul>
        <br>
        <br>
        <p>The particular details about progress updates and other details can be used for research and study purpose
            which will further enhance our understanding of the disease and will help us be better
            preparaed against it.
        </p>
    </div>
</div>